@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

.q-body {
  h1,
  h2,
  h3,
  h4,
  p {
    @apply my-2;

    &:first-child {
      @apply mt-0;
    }
    &:last-child {
      @apply mb-0;
    }
  }
  a {
    @apply underline;
  }
}
